<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img src="https://media.licdn.com/dms/image/C4D0BAQG73x4u9fE0CA/company-logo_200_200/0/1519880346218?e=2147483647&v=beta&t=SmIO-0AEcZnfHsL-35zL8nha8lgMpz7Ma9tNRLcd_bE" alt="logo">
        <h1>Lively</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/home"><span nz-icon nzType="home" nzTheme="outline"></span><span nz-icon nzType="" nzTheme="outline">Home</span></a>
      </li>
      <ul>
        <li nz-submenu nzOpen nzTitle="Shoppable Feeds" nzIcon="shop">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/shop"><span nz-icon nzType="shopping" nzTheme="outline"></span>Shop</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/shop/products"><span nz-icon nzType="shopping" nzTheme="outline"></span>Products</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/shop/feeds"><span nz-icon nzType="up-square" nzTheme="outline"></span>Feeds</a>
            </li>
          </ul>
        </li> 
      </ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/live-stream"><span nz-icon nzType="video-camera" nzTheme="outline"></span><span nz-icon nzTheme="outline">Live Streaming</span></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/digital-clienteling"><span nz-icon nzType="video-camera-add" nzTheme="outline"></span><span nz-icon nzTheme="outline">Digital Clienteling</span></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/login"><span nz-icon nzType="user" nzTheme="outline"></span><span nz-icon nzTheme="outline">Login</span></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/signup"><span nz-icon nzType="user" nzTheme="outline"></span><span nz-icon nzTheme="outline">SignUp</span></a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <app-header></app-header>
    <!-- <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header> -->
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
