<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #073150; position:sticky;" >
    <a class="navbar-brand" href="#" style="padding: 10px; margin-left: 20%; color: white; font-weight: 500;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><h2>LIVELY</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" >
      <ul class="navbar-nav" >
        
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
        
      </ul>
    </div>
  </nav>
  <div class="container" style="padding: 80px; text-align: center;">
  <h2 style="font-weight: 500px;">Newly Added</h2>
  </div>
  <div class="product">
    <div class="container-fluid">
      <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <video class="img-fluid"  autoplay loop muted (click)="zoomInVideo()">
            <source src="https://video.gumlet.io/621770ca1c8b821b05d7035a/638f69fd3f94952ffef2634a/main.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="item">
          <video class="img-fluid" style="cursor: pointer;" autoplay loop muted >
            <source src="https://video.gumlet.io/621770ca1c8b821b05d7035a/638f5ba61426ca14623d51a7/main.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="item">
          <video class="img-fluid" style="cursor: pointer;" autoplay loop muted >
            <source src="https://video.gumlet.io/621770ca1c8b821b05d7035a/638f5fc73f94952ffef25818/main.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="item">
          <video class="img-fluid" style="cursor: pointer;" autoplay loop muted >
            <source src="https://video.gumlet.io/621770ca1c8b821b05d7035a/638f5d3d3f94952ffef256da/main.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="item">
          <video class="img-fluid" style="cursor: pointer;" autoplay loop muted >
            <source src="https://video.gumlet.io/621770ca1c8b821b05d7035a/638f5d8e1426ca14623d5301/main.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="item">
          <video class="img-fluid" style="cursor: pointer;" autoplay loop muted >
            <source src="https://video.gumlet.io/621770ca1c8b821b05d7035a/638f61e13f94952ffef25a2d/main.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="item">
          <video class="img-fluid" style="cursor: pointer;" autoplay loop muted >
            <source src="https://video.gumlet.io/621770ca1c8b821b05d7035a/638f5fc73f94952ffef25818/main.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="item">
          <video class="img-fluid" style="cursor: pointer;" autoplay loop muted >
            <source src="https://video.gumlet.io/621770ca1c8b821b05d7035a/638f61e13f94952ffef25a2d/main.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="prev change_slider" appPrev > < </button>
        <button type="button" class="next change_slider" appNext>> </button>
      </div>
      </div>
      </div>
      </div>
